# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.venv/

# dotenv environment variables
.env
.env.*

# Node modules
node_modules/
dist/
build/

# Database
*.db

# System files
.DS_Store
Thumbs.db